

* {
	box-sizing: border-box;
	font-family: 'Staatliches', serif;
	font-size: 16px;
	letter-spacing: 5px
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: color_change 3s alternate;
}

img {
	max-width: 100%;
}

#muteControl {
	width: 50px;
	margin-left: 550px;
	margin-top: 40px;
	position: absolute;
}

main {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width: 100%;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
}

#wawes {
	width: 400px;
	display: flex;
	animation-duration: 1s;
	animation-name: slidein;
}

h1 {
	font-size: 3rem;
	color: #BF214B;
}

h1:hover {
	animation: shake 1.0s;
}

h1,
h3 {
	color: #BF214B
}

.play-area {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	grid-gap: 1rem;
	width: 100%;
}

p {
	transition: 1s;
}

#scoreboard {
	padding: 20px;
	background-color: rgba(242, 149, 128, 0.13);
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 3px;
	border: 1px dotted slategrey;
	border-radius: 20px;
	max-width: 450px;
	min-width: 450px;
}

.play-area {
	display: flex;
	justify-content: center;
}

#wawesmove {
	width: 650px;
	animation: moveLeftRight 5.0s infinite
}

#message {
	margin-bottom: 75px;
	height: 20px;
	font-size: 1rem;
}

.circles {
	display: grid;
	grid-gap: 3px;
	grid-template-columns: repeat(auto-fill, minmax(3em, 1fr));
	grid-auto-rows: 1fr;
}

#board {
	grid-template-columns: repeat(8, 1fr);
	max-width: 450px;
	min-width: 450px;
	margin-left: 70px;
}

#board .circle {
	cursor: pointer;
	transition: opacity 0.5s, transform 0.5s;
}

#board .circle:hover {
	opacity: 0.70 !important;
	transform: scale(0.9);
}

.circle {
	--circle-color: #5593D1;
	background-color: var(--circle-color);
	border-radius: 100%;
	height: 3em;
	width: 3em;
}

.circle.miss {
	background-color: #96c4f2;
}


/* sidebar */

#ships {
	display: grid;
	grid-gap: 3px;
	margin-top: 25px;
	max-width: 100%;
}

#ships .circle {
	border: 2px dotted slategrey;
	background-color: var(--sidebar-circle-color);
}

#ships .circle.hit {
	opacity: 0.3;
}

#shipmain {
	animation: shakeShip 5s infinite;
}

#triesCount,
#tries {
	color: #BF214B;
	font-size: 1.2rem;
}

.noMove {
	cursor: default;
	pointer-events: none;
}

.neutral-text {
	color: black;
}

.success-text {
	color: green;
}

.warning-text {
	color: orange;
	font-size: 1.5rem;
}

.error-text {
	color: #E55934;
}

button {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

#resetGame,
.play {
	width: 180px;
	height: 50px;
	border-radius: 10px;
	color: white;
	background-color: #BF214B;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 25px;
}

a {
	text-decoration: none;
}

p {
	color: #5593D1;
}

span {
	color: #BF214B
}

@keyframes color_change {
	from {
		background-color: lightblue
	}
	to {
		background-color: rgb(255, 255, 255);
	}
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(1deg);
	}
}

@keyframes slidein {
	from {
		margin-left: 100%;
	}
	to {
		margin-left: 0%;
	}
}

@keyframes shakeShip {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

@keyframes moveLeftRight {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	30% {
		transform: translate(50px, 1px) rotate(0deg);
	}
	60% {
		transform: translate(-50px, 1px) rotate(0deg);
	}
}

@media only screen and (max-width: 600px) {
	* {
		box-sizing: border-box;
		font-family: 'Staatliches', serif;
		font-size: 16px;
		letter-spacing: 5px
	}
	html,
	body {
		width: 100%;
		height: 100%;
	}
	header,
	h1 {
		margin: 0;
		padding: 0;
		margin-top: 400px;
	}
	img {
		width: 300px;
	}
	h1 {
		text-align: center;
		font-size: 2rem;
		margin-top: 200px;
	}
	html,
	body {
		width: 100%;
		height: 100%;
	}
	.play-area {
		display: flex;
		justify-content: center;
		flex-direction: column-reverse;
	}
	.circles {
		display: grid;
		grid-gap: 3px;
		grid-template-columns: repeat(auto-fill, minmax(3em, 1fr));
		grid-auto-rows: 1fr;
	}
	.circle {
		height: 2em;
		transition: opacity 0.5s, transform 0.5s;
		width: 2em;
	}
	#board {
		grid-template-columns: repeat(8, 0fr);
		max-width: 300px;
		min-width: 300px;
		margin-left: 20px;
	}
	#scoreboard {
		padding: 10px;
		background-color: rgba(242, 149, 128, 0.13);
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 3px;
		border: 1px dotted slategrey;
		border-radius: 20px;
		max-width: 300px;
		min-width: 330px;
		max-height: 400px;
	}
	#levels {
		justify-content: center;
		text-align: center;
	}
	div {
		margin: 0;
		padding: 0;
	}
	#muteControl {
		width: 30px;
		margin-left: 325px;
		margin-top: 210px;
		position: absolute;
	}
	#header-index {
		margin-top: 0;
	}
}

